<!DOCTYPE html>
<html>
<head>
    <title>Create New Faculty</title>
</head>
<body>
    <h1>Create New Faculty and Academic Year</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Faculty Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="closure">Closure Date</label>
        <input type="datetime-local" id="closure" name="closure" required><br><br>

        <label for="finalClosure">Final Closure Date</label>
        <input type="datetime-local" id="finalClosure" name="finalClosure" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
