{% extends "header.html" %}
{%load static%}
{% block content %}

    <style>
      body {
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        height: 100vh;
      }

      form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 2000px;
        margin: auto;
      }

      .header-content {
        margin: 30px;
        padding: 10px auto;
      }

      h2 {
        text-align: center;
        color: #fff;
        margin: 20px 0;
      }
    </style>

    <!-- Main Content -->
    <section class="apply-now" id="apply">
      <div class="container">
        <h2>My Contributions</h2>
        <form method="post" enctype="">
          <table class="table mt-3">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Created Time</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for contribution in contributions %}
              <tr>
                  <td>{{ contribution.title }}</td>
                  <td>{{ contribution.content|default:"No description provided" }}</td>
                  <td>{{ contribution.createAt|date:"H:i d-m-Y" }}</td>
                  <td>
                    {% if contribution.status == 'approved' %}
                        Approved
                    {% elif contribution.status == 'rejected' %}
                        Rejected
                    {% else %}
                        Waiting
                    {% endif %}
                  </td>
                  <td>
                      {% if can_update %}
                      <a href="{% url 'update_contribution' pk=contribution.id %}" class="btn btn-primary btn-sm">Update</a> |  
                      {% endif %}
                      <a href="{% url 'delete_contribution' contribution.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Remove</a> | 
                      <a href="{% url 'contributions_detail' contribution.id %}" class="btn btn-warning btn-sm">View Detail</a>
                  </td>
              </tr>
            {% empty %}
              <tr>
                  <td colspan="4">No contributions found.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </section>

    <section class="contact-us" id="contact">
      <div class="footer">
        <p>
          Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
          <br />
          Design:
          <a
            href="https://templatemo.com"
            target="_parent"
            title="free css templates"
            >TemplateMo</a>
          <br />
          Distibuted By:
          <a
            href="https://themewagon.com"
            target="_blank"
            title="Build Better UI, Faster"
            >ThemeWagon</a>
        </p>
      </div>
    </section>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{%static 'js/isotope.min.js' %}"></script>
    <script src="{%static 'js/owl-carousel.js' %}"></script>
    <script src="{%static 'js/lightbox.js' %}"></script>
    <script src="{%static 'js/tabs.js' %}"></script>
    <script src="{%static 'js/video.js' %}"></script>
    <script src="{%static 'js/slick-slider.js' %}"></script>
    <script src="{%static 'js/custom.js' %}"></script>
    <script>
      //according to loftblog tut
      $(".nav li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos,
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function () {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu, .responsive-menu, .scroll-to-section").on(
        "click",
        "a",
        function (e) {
          e.preventDefault();
          showSection($(this).attr("href"), true);
        }
      );

      $(window).scroll(function () {
        checkSection();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var rejectButtons = document.querySelectorAll('.reject-btn');
        rejectButtons.forEach(function(btn) {
          btn.addEventListener('click', function() {
            var contributionId = btn.getAttribute('data-contribution-id');
            var form = document.getElementById('rejectForm');
            form.action = '/ad/contribution/reject/' + contributionId + '/';
            document.getElementById('contributionId').value = contributionId; // Set hidden input value
          });
        });
      });
    </script>
  </body>
</html>

{% endblock content %}
