<!-- Đảm bảo đường dẫn của 'action' trong form tương ứng với URL của view xử lý tải xuống -->
<form action="{% url 'download_selected_contributions' %}" method="post">
    {% csrf_token %}
    {% for contribution in contributions %}
        <label>
            <input type="checkbox" name="contribution_ids" value="{{ contribution.id }}">
            {{ contribution.title }}
            {% for file in contribution.files.all %}
            <div>
                <!-- Hiển thị tên file và/hoặc link để xem file nếu bạn muốn -->
                <a href="{{ file.word.url }}">{{ file.word.name }}</a>
                <a href="{{ file.img.url }}">{{ file.img.name }}</a>
            </div>
            {% endfor %}
        </label><br>


    {% endfor %}
    <button type="submit">Download Selected Files</button>
</form>
